/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: opacity 0.13s, border 0.13s, color 0.13s, margin 0.13s;
}

html {
  font-size: 62.5%;
}

section {
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  display: inherit;
  color: inherit;
}

textarea {
  resize: none;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.8rem;
}

/* Text alignment styles */

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

/* Font families */
body,
.ff-1 {
  font-family: "Lato", sans-serif;
}

.ff-2 {
  font-family: "Cocogoose", sans-serif;
}

.ff-3 {
  font-family: "Roboto Condensed", sans-serif;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.fw-lighter {
  font-weight: lighter;
}

.fs-italic {
  font-style: italic;
}

.fs-underline {
  text-decoration: underline;
}

.fs-underline-hover:hover {
  text-decoration: underline;
}

/* Grid styles */
.grid {
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
}

.container {
  grid-column: 2 / 3;
  padding: 0.8rem 0;
}

/* Flexbox styles */
.f-row {
  display: flex;
  flex-direction: row;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

/* Background colors */
.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: #272a31;
}

.bg-grey {
  background-color: #414246;
}

.bg-light {
  background-color: #d3d3d3;
}

.bg-lighter {
  background-color: #f6f6f7;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: #ec5242;
}

/* Color styles */
.black {
  color: #000;
}

.dark {
  color: #272a31;
}

.grey {
  color: #545454;
}

.light {
  color: #d3d3d3;
}

.lighter {
  color: #f6f6f7;
}

.white {
  color: #fff;
}

.orange {
  color: #ec5242;
}

.orange-hover:hover {
  color: #ec5242;
}

/* Horizontal line styles */
.line-orange {
  border: 0;
  border-bottom: 1px solid #ec5242;
  margin: 1.2rem auto;
  width: 3rem;
}

.line-light {
  border: 0;
  border-bottom: 1px solid #d3d3d3;
  width: 1.5rem;
}

/* Buttons styles */
.btn-orange {
  font-family: inherit;
  color: #fff;
  background-color: #ec5242;
  border: 0.4rem solid #ec5242;
  padding: 0.2rem 1rem;
  line-height: 2em;
}

.btn-orange:hover {
  font-family: inherit;
  color: #ec5242;
  background-color: #fff;
}

.btn-grey {
  font-family: inherit;
  color: #fff;
  background-color: #545454;
  border: 0.4rem solid #545454;
  padding: 0.2rem 0.6rem;
  line-height: 2em;
}

/* Hidden elements */
#global-dates__whole-program,
#index-partner,
#index-footer,
#about__title .line-orange {
  display: none;
}

/* MOBILE VERSION */

/* Front page */
#front-page {
  background-image: url(./img/backgrounds/background__front-page.jpg);
  background-size: cover;
  background-position: 60rem;
  background-attachment: fixed;
  padding: 0;
}

#front-page__container {
  margin: 7rem 0 6rem 0;
}

#front-page__content {
  gap: 1.5rem;
}

#front-page__title {
  mix-blend-mode: color-burn;
  filter: contrast(120%) saturate(200%);
}

.infobox-1 {
  color: #414246;
  background-color: #f6f6f7;
  border: 2px solid #fff;
  padding: 1.2rem;
  width: 103%;
  align-self: center;
  margin: 1rem 0;
}

.infobox-2 {
  color: #414246;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 1.2rem;
  width: 103%;
  align-self: center;
  margin: 1rem 0;
}

/* Global Dates */
#global-dates {
  background-image: url("./img/backgrounds/background__pattern.png");
  background-repeat: repeat;
  background-size: 2.5rem;
  padding-bottom: 1rem;
}

#global-dates__boxes {
  gap: 1rem;
  margin: 2rem 0;
}

.global-dates__box {
  display: grid;
  grid-template-columns: 10% 25% 65%;
  padding: 1.5rem;
  gap: 1rem;
  min-height: 11rem;
  align-items: center;
  background-color: #ffffff1a;
}

.global-dates__box i {
  grid-column: 1/2;
  font-size: 2.5rem;
  align-self: center;
}

.global-dates__box h3 {
  grid-column: 2/3;
  font-size: 1.5rem;
}

.global-dates__box p {
  grid-column: 3/4;
  font-size: 1.3rem;
  width: 92%;
}

#global-dates__btn-buy {
  display: block;
  min-width: 77%;
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem auto 0 auto;
  padding: 1rem 0;
}

/* Band Members */
#band-members__cards {
  margin: 1.5rem 0;
  gap: 3rem;
}

.band-members__paired-cards2 {
  display: none;
}

.band-members__paired-cards0,
.band-members__paired-cards2 {
  gap: 3rem;
}

.band-members__card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.band-members__card-portrait {
  max-width: 10rem;
  box-shadow: -4rem -4rem 0 -2rem;
  margin: 2rem 0 0 2rem;
  grid-column: 1/2;
}

.band-members__card-texts {
  gap: 1rem;
}

.band-members__card-title {
  font-size: 1.5rem;
}

.band-members__card-subtitle {
  font-size: 1rem;
  font-style: italic;
}

#band-members__btn-more {
  font-family: "Lato", sans-serif;
  color: #414246;
  padding: 1rem 0;
  background-color: #fff;
  border: 0.1rem solid #d3d3d3;
  border-radius: 0.3rem;
}

/* Menu */
#menu--mobile-version {
  margin: 2vmin 0 0 5vmin;
}

#menu--mobile-version i {
  font-size: 3rem;
}

#menu__btn--mobile-version {
  z-index: 2;
}

#menu__menulist--mobile-version {
  background-color: #fff;
  gap: 1rem;
  z-index: 1;
  padding: 4rem 1rem 1rem 1rem;
  border: 1px solid #d3d3d3;
  position: fixed;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.28) 0 1px 13px;
  display: none;
}

#menu__menulist--mobile-version a {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.6rem 0;
}

/* About Page */

/* About */

#about {
  background-image: url(./img/backgrounds/background__about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 0;
}

#about__container {
  margin-top: 7rem;
  gap: 2rem;
}

#about__contact-text i {
  font-size: 1rem;
}

/* Embark with us! */
#embark {
  border-bottom: 1px solid #d3d3d3;
}

#embark__container {
  gap: 2rem;
  align-items: center;
}

#embark__logo {
  max-width: 18rem;
}

/* Older Joshua Redman WT */
#past-wt__container {
  gap: 3rem;
}

#past-wt__boxes {
  gap: 1.5rem;
}

.older-wt-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  filter: saturate(120%);
  box-shadow: #ec5342b2 0 0 0 500px inset;
  height: 20rem;
  justify-content: center;
}

.older-wt-box:hover {
  box-shadow: #0000006f 0 0 0 500px inset;
}

#wt-japan {
  background-image: url("./img/backgrounds/wt-box-background__japan.jpg");
}

#wt-brazil {
  background-image: url("./img/backgrounds/wt-box-background__brazil.jpg");
}

/* Partner */
#partner__container {
  gap: 2rem;
}

#partner__logos {
  justify-content: center;
  gap: 1.88rem;
  align-items: center;
}

.partner__logo {
  width: 10rem;
  filter: saturate(0%) opacity(50%);
}

.partner__logo:hover {
  filter: saturate(100%) opacity(100%);
}

#about-footer__container,
#index-footer__container {
  gap: 2rem;
  align-items: center;
}

#footer__logo {
  padding: 3rem 0;
  width: 10rem;
}

/* Back to top button */
#back-to-top-button {
  position: fixed;
  font-size: 2rem;
  rotate: 45deg;
  width: 3.5rem;
  height: 3.5rem;
  bottom: 3.5rem;
  right: 3.5rem;
  box-shadow: #0006 4px 4px 13px;
  transition: opacity 0.4s;
  opacity: 0;
}

#back-to-top-button i {
  display: inline-block;
  rotate: -45deg;
  position: relative;
  bottom: 2px;
  right: 2px;
  margin: auto;
}

/* Hidden elements */
#header,
#header__top-black-bar-container {
  display: none;
}

/* Desktop version */
@media only screen and (min-width: 768px) {
  /* Global styles */
  section {
    padding: 4rem 0;
  }

  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.5rem;
  }

  /* Hidden elements */
  #menu--mobile-version,
  #global-dates__btn-buy,
  #band-members__btn-more,
  #about__title h2,
  #about-partner {
    display: none;
  }

  /* Showed elements */
  #global-dates__whole-program,
  .band-members__paired-cards2,
  #about__title .line-orange {
    display: flex;
  }

  #index-partner,
  #index-footer {
    display: grid;
  }

  /* Grid styles */
  .grid {
    grid-template-columns: 11.8vw 1fr 11.8vw;
  }

  /* Header */
  #header {
    box-shadow: rgba(0, 0, 0, 0.28) 0 1px 13px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: block;
  }

  #header__top-black-bar-container {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  #header__top-black-bar-list {
    align-items: center;
    font-size: 1.4rem;
    gap: 1rem;
  }

  /* Navbar */
  #header__navbar-container {
    justify-content: space-between;
    align-items: center;
  }

  #header__navbar-logo {
    width: 15rem;
  }

  #header__navbar-menulist {
    width: 60%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
  }

  /* Front page */
  #front-page {
    background-position: center;
  }

  #front-page__container {
    margin: 7.8rem 0;
  }

  #front-page__content {
    gap: 3rem;
  }

  #front-page__title {
    gap: 1rem;
  }

  #front-page__title h2 {
    font-size: 4rem;
  }

  #front-page .infobox-1 {
    justify-self: flex-start;
    width: 52%;
    margin: 0 auto 0 0;
  }

  /* Global Dates */
  #global-dates {
    background-size: 3.5rem;
    padding: 3rem 0;
  }

  #global-dates__boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.3rem;
  }

  .global-dates__box {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 24rem;
    padding: 3rem;
    border: 0.3rem solid #fff0;
  }

  .global-dates__box i {
    font-size: 3.5rem;
  }

  .global-dates__box:hover {
    border: 0.3rem solid #fff;
  }

  #global-dates__whole-program {
    grid-column: 1 / 6;
    justify-self: center;
    font-size: 1.8rem;
    margin-top: 6rem;
  }

  /* Band Members */

  #band-members__cards {
    width: 100%;
  }

  .band-members__card-title {
    font-size: 2.5rem;
  }

  .band-members__card-portrait {
    max-width: 17rem;
  }

  /* Partner */
  #index-partner {
    color: #d3d3d3;
  }

  #partner__logos {
    gap: 6rem;
    align-items: center;
    justify-content: center;
  }

  .partner__logo {
    width: 15rem;
  }

  /* Footer */
  #index-footer__container a,
  #about-footer__container a {
    width: 33.3%;
    justify-content: center;
  }

  #footer__logo {
    padding: 3rem 0;
    width: 25rem;
    align-self: center;
  }

  #index-footer__container p,
  #about-footer__container p {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  /* About page */

  /* About */
  #about {
    padding: 0;
  }

  #about__container {
    margin: 12.8rem 0;
  }

  #about .infobox-2 {
    width: 85%;
    padding: 2rem 5rem;
    line-height: 2.8rem;
  }

  /* Embark with us! */
  #embark__text-body {
    width: 85%;
    padding: 0 5rem;
    line-height: 2.8rem;
  }

  #embark__text-thank-you {
    line-height: 2rem;
  }

  /* Older Joshua Redman WT */
  #past-wt__boxes {
    align-self: center;
    flex-direction: row;
    width: 85%;
  }

  #past-wt__boxes a {
    width: 100%;
  }

  .older-wt-box {
    width: 100%;
  }

  /* About Footer */
  #about-footer {
    color: #d3d3d3;
    background-color: #272a31;
  }

  #about-footer #footer__logo {
    border: 3px solid #fff;
    padding: 0;
    margin: 3rem auto;
  }
}
